h1{
text-align: right;
color: orange;
font-size: 30px;
}
span {
background: green;
font-style: italic;

}
div:first-letter {
color:red;
font-size: 30px;
}
p1{
font-weight: bold;
font-size:20px;
color: orange;
}

li.menu1, li.menu2 {
font-weight: bold;
color:#000;
font-size:20px;
}
ol.menu1{
color: #6c6464;
}
ol.menu2{
color: red;
}
p2{
font-weight: bold;
font-size:20px;
color: blue;
}

table{
	border-spacing:3px;

	bordercolor: #6c6464;
}

table, td {
border: 1px double #000;
padding:0;
vertical-align:middle;
bordercolor: #6c6464;
font-weight: bold;
}
.svet{
background:green;
align:middle;
}
.ima{
color:orange;
}

.yandex{
color:#f70;
}
.google{
 color:#666;
 }
 tr:nth-child(2n) {
 background:#ddebf7;
 }
 tr:nth-child(2n+1) {
  background:#f2f2de;
  }
#red{
 text-decoration:underline;
}
#green{
  text-decoration:underline;
  }
#blue{
   text-decoration:underline;
}
   .red{
   border:1px solid black;
   border-radius:30%;
   padding:1px;
   background:red;
   color:white;
   }
    .green{
      border:1px solid black;
      border-radius:30%;
      padding:1px;
      background:green;
      color:white;
      }
       .blue{
         border:1px solid black;
         border-radius:30%;
         padding:1px;
         background:blue;
         color:white;
        }
{
display:none;
}
#green1.checked~.green{
display:none;
}
#blue.checked~.blue{
display:none;
}