h1{
text-align: right;
color: orange;
font-size: 30px;
}
span {
background: green;
font-style: italic;

}
div:first-letter {
color:red;
font-size: 30px;
}
p1{
font-weight: bold;
font-size:20px;
color: orange;
}

li.menu1, li.menu2 {
font-weight: bold;
color:#000;
font-size:20px;
}
ol.menu1{
color: #6c6464;
}
ol.menu2{
color: red;
}
p2{
font-weight: bold;
font-size:20px;
color: blue;
}

table{
	border-spacing:3px;

	bordercolor: #6c6464;
}

table, td {
border: 1px double #000;
padding:0;
vertical-align:middle;
bordercolor: #6c6464;
font-weight: bold;
}
.svet{
background:green;
align:middle;
}
.ima{
color:orange;
}

.yandex{
color:#f70;
}
.google{
 color:#666;
 }